* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    margin: 0;   
    background-color: black;
    
}

header {
    font-size: 5vmin;
    letter-spacing: 1vmin;
    color: yellow;
}

h1 {
    color: yellow
}

h2 {
    font-size: 3vmin;
    color: yellow;
}

h3 {
    color: grey
    border: white;
    background-color: grey;
}

button:hover {
    color: white;
    background-color: darkgrey;
}

#board {
    display: grid;
    grid-template-columns: repeat(3, 10vmin);
    grid-template-rows: repeat(3, 10vmin);
    gap: 0;
    margin-top: -2vmin;
}

#board>div {
    border-radius: 0;
    border-color: solid white;
    border: .1vmin solid gray;
    cursor: pointer;
    color: yellow;
}

button {
    border: 0.1vmin solid grey;
    border-radius: 2vmin;
    font-size: 2vmin;
    margin-top: 2vmin;
    margin-bottom: 2vmin;
}